node_modules/
npm-debug.log
.env
.git
.gitignore
.vscode/
*.pem
*.txt
*.pdf
yarn.lock
coverage/
docker-compose.yml
Dockerfile
__tests__/

services/recommender-master/.env
services/recommender-worker/.env
node_modules/
Enunciado_E2.md
instructions.md
image.png
recommender.md
docs/
coverage/
*.log
